body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 90%;
    color: #444;
    padding: 0 20px 0 20px;
}

#header {
    font-size: 90%;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    margin-bottom:20px;
}

#header input {
    margin:0px;
    padding: 0;
    background-color: White;
    border: 1px solid #aaaaaa;
    font-size: 90%;
}

#footer {
    font-size: 10px;
    color: #ddd;
    margin-top:40px;
    width: 100%;
    text-align: center;
}

table.wikitable { background-color: #fff; border: 1px solid #aaa; }
table.wikitable td { background-color: #fff; border: 1px solid #aaa; }

code {
    font-size: 110%;
    background-color: #fffddc;
}

pre {
    font-family: monospace;
    background-color: #fffddc;
    padding: 4px 10px 4px 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

hr {
    height: 1px;
    color: #aaaaaa;
    background-color: #aaaaaa;
    border: 0;
    margin: 0.2em 5px 0.2em 5px;
}

form {
    border: none;
    margin: 0;
}

textarea {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 90%;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    color: #444;
    background-color: white;
    width: 100%;
    padding: 0.4em;
    overflow: auto;
}

input {
    margin-top:1px;
    padding: 0 0.4em !important;
    background-color: White;
    border: 1px solid #aaaaaa;
}

a, ulink {
    color: #337ab7;
    text-decoration:none;
    display: inline;
}

a:hover {
    color: #337ab7;
    text-decoration: None;
    border-bottom: 1px #000 solid;
}

a:visited {
    color: #337ab7;
}
